body{
    padding-bottom: 0;
}
.header{
    width: 1000px;
    margin: 0 auto;
}
.header img{
    float: left;
    margin: 10px 0;
}
.header span{
    color: #515151;
    float: left;
    margin: 10px 0;
    font-size: 24px;
    line-height: 70px;
    padding-left: 3px;
    font-family: "微软雅黑";
}
.tabbox{
    width: 999px;
    margin: 0 auto;
    padding-left: 333px;
    height: 37px; 
}
.tabbox span{
    display: block;
    float: left;
    text-align: center;
    cursor: pointer;
    position: relative;
    top: 1px;
    width: 163px;
    height: 38px;
    line-height: 38px;
    font-family: "微软雅黑";
    font-size: 16px;
    background: url(https://passport.sfbest.com/images/tabbg.jpg) left top no-repeat
}
.tabbox .login{
    float: right;
    width: 130px;
    padding-top: 14px;
    font-size: 12px;
    color: #565656;
}
.tabbox .login a{
    color: #6e9b0c;
}
.reg_main{
    padding: 45px 0 0 40px;
    border-top: 1px solid #d6d5d5;
    width: 1000px;
    min-height: 490px;
    background: #fff;
    margin: 0 auto;
    font-size: 12px;
    font-family: "宋体", Arial, Helvetica, sans-serif;
    line-height: 1.4em;
}
.reg_main ul{
    position: relative;
    top: 0;
    left: 0;
    background: url(https://passport.sfbest.com/images/pic10.jpg) 460px 0 no-repeat;
}
.reg_main ul li{
    height: 38px;
}
.reg_main ul .name{
    margin-bottom: 30px;
}
.reg_main ul li label{
    display: block;
    float: left;
    width: 118px;
    height: 38px;
    font-size: 14px;
    color: #515151;
    line-height: 38px;
    text-align: right;
}
.reg_main li label font{
    color: #ff4800;
}
.reg_main li .name-input{
    width: 268px;
    height: 38px;
    line-height: 36px;
    display: block;
    float: left;
    border: 1px solid #cdcdcd;
}
input{
    font-family: "微软雅黑";
    font-size: 12px;
    font-weight: inherit;
    vertical-align: middle;
}
.reg_main li .input {
    width: 238px;
    height: 34px;
    line-height: 36px;
    border: none;
    outline: none;
    color: #515151;
    padding: 0 5px;
}
.reg_main li #username-err{
    display: none;
    width: 230px;
    padding: 0 10px 0 15px;
    color: #666;
}
.reg_main .safe{
    color: #666;
    padding-top: 5px;
    padding-left: 191px;
}
.reg_main .safe font{
    font-size: 12px;
    display: block;
    float: left;
}
.reg_main .safe em{
    display: block;
    float: left;
    text-align: center;
    width: 34px;
    margin-right: 2px;
    color: #fff;
}
.reg_main .safe .default{
    background: #c4c4c4;
}
.reg_main li .regcode{
    float: left;
    padding: 0 5px;
    width: 60px;
    height: 38px;
    border: 1px solid #cdcdcd;
}
.reg_main li .code-img{
    float: left;
    width: 106px;
    margin-left: 6px;
    height: 36px;
}
.reg_main li .code{
    width: 86px;
    line-height: 36px;
    margin-left: 6px;
    float: left;
}
.reg_main li .code a{
    color: #6e9b0c;
}
.reg_main .agreement{
    padding-left: 88px;
}
.reg_main li .agree{
    margin-left: 29px;
    width: 297px;
    height: 36px;
    line-height: 36px;
    display: block;
    float: left;
}
.reg_main li .agree-title{
    color: #565656;
    text-decoration: none;
}
.reg_main li .agree-title font{
    color: #6e9b0c;;
    text-decoration: none;
}
.reg_main .register{
    margin-left: 29px;
    margin-top: 10px;
    padding-left: 88px;
}
.reg_main .register .instaint{
    display: block;
    float: left;
    width: 271px;
    height: 38px;
    line-height: 38px;
    background: url(https://passport.sfbest.com/images/reg_btn.jpg) left top no-repeat;
    font-size: 16px;
    text-align: center;
    color: #fff;
    margin-right: 20px;
}
.tip{
    padding: 15px 10px 10px 45px;
    border-top: 1px dotted #dcdcdc;
    position: relative;
    left: -30px;
    width: 985px;
    background: url(https://passport.sfbest.com/images/reg_tip.png) no-repeat 25px 16px;
}
.tip a{
    color: #669900;
}
.footer{
    width: 1000px;
    margin: 0 auto;
    padding-top: 20px;
    font-size: 12px;
    font-family: "宋体", Arial, Helvetica, sans-serif;
}
.footer span,.footer p{
    line-height: 26px;
    margin: 0 auto;
    text-align: center;
}
.footer span{
    padding-left: 376px;
    display: block;
    color: #176246;
}
.footer span li{
    float: left;
}
.footer span a{
    color: #666;
    text-decoration: none;
}
.footer p a{
    text-decoration: none;
    color: #515151;
}